<div>
  <div class="row title-ribbon">
    <h3 class="pull-left">Usuarios</h3>
    <div class="pull-right">
      <a ui-sref="admin.adduser" class="btn btn-primary btn-minw">Agregar usuario</a>
    </div>
  </div>
  <div class="row">
    <div class="form-group has-feedback pull-right">
      <input type="text" class="form-control" ng-model="users.searchText">
      <span class="form-control-feedback" aria-hidden="true">
        <i class="fa fa-search"></i>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default box-panel">
      <div class="panel-body">
        <table class="table" id="usersTable">
          <thead>
            <tr>
              <th>Nombre</th>
              <th>E-mail</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="user in users.users | filter:users.searchText | orderBy:'user.fullname'">
              <td>{{user.fullname}}</td>
              <td>{{user.email}}</td>
              <td class="text-right">
                <a class="btn btn-sm btn-primary" ui-sref="admin.edituser({id: '{{user._id}}'})"><span class="fa fa-pencil"></span></a>
                <a class="btn btn-sm btn-primary" ng-show="!user.isAdmin" ng-click="users.deleteUsr(user._id)"><span class="fa fa-trash-o"></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
