<style type="text/css">
	.img-holder {
	 	padding: 0;
	}

	.sameheight {
		padding-bottom:10px;
	}
</style>
<div>
  <div class="row title-ribbon">
    <h3 class="pull-left">Pueblos mágicos</h3>
    <div class="pull-right">
      <a ui-sref="admin.addpm" class="btn btn-primary btn-minw">Agregar pueblo mágico</a>
    </div>
  </div>
	<div class="row">
    <div class="form-group has-feedback pull-right">
      <input type="text" class="form-control" ng-model="mtown.searchText">
      <span class="form-control-feedback" aria-hidden="true">
        <i class="fa fa-search"></i>
      </span>
    </div>
  </div>
  <div class="row">
		<div class="panel panel-default box-panel">
      <div class="panel-body">
				<table class="table">
					<thead>
						<tr>
							<th>Nombre</th>
							<th>Segmento</th>
							<th>Año de inclusión</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr ng-repeat="pm in mtown.pmList | filter:mtown.searchText | orderBy: 'name'">
							<td>{{pm.name}}</td>
							<td>{{pm.segment}}</td>
							<td>{{pm.inclusion_date}}</td>
							<td>
								<a class="btn btn-sm btn-primary" ui-sref="pminfo({id: '{{pm._id}}'})"><span class="fa fa-eye" aria-hidden="true"></span></a>
								<a class="btn btn-sm btn-primary" ui-sref="admin.editpm({id: '{{pm._id}}'})"><span class="fa fa-pencil" aria-hidden="true"></span></a>
                <a class="btn btn-sm btn-primary" ng-click="mtown.deletePM(pm._id)"><span class="fa fa-trash" aria-hidden="true"></span></a>
							</td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
  </div>
</div>
