<div>
  <div class="row title-ribbon">
    <h3>{{mtown.formTitle}}</h3>
  </div>
  <div class="row">
    <div class="panel panel-default box-panel">
      <form name="pmForm" novalidate class="form-horizontal" ng-submit="mtown.submitForm(pmForm)">
        <div class="panel-body">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="form-group" ng-class="{ 'has-error' : (pmForm.$submitted || pmForm.name.$touched) && pmForm.name.$invalid }">
              <label class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" name="name" required class="form-control" ng-model="mtown.pmData.name"/>
                <span ng-show="(pmForm.$submitted || pmForm.name.$touched) && pmForm.name.$invalid" class="help-block">El nombre es requerido</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Denominación</label>
              <div class="col-sm-10">
                <input type="text" name="denomination" class="form-control" ng-model="mtown.pmData.denomination"/>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (pmForm.$submitted || pmForm.description.$touched) && pmForm.description.$invalid }">
              <label class="col-sm-2 control-label">Descripción</label>
              <div class="col-sm-10">
                <textarea name="description" required class="form-control" rows="3" ng-model="mtown.pmData.description"></textarea>
                <span ng-show="(pmForm.$submitted || pmForm.description.$touched) && pmForm.description.$invalid" class="help-block">La descripción es requerida</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Origen</label>
              <div class="col-sm-10">
                <textarea name="origin" class="form-control" rows="3" ng-model="mtown.pmData.origin"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Año de fundación</label>
              <div class="col-sm-10">
                <div class="input-group">
									<input type="text" name="foundation_date" class="form-control" datetimepicker
		                ng-model="mtown.pmData.foundation_date"
						        datetimepicker-options="{useCurrent: false, format:'YYYY'}" />
                   <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								</div>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (pmForm.$submitted || pmForm.CVE_ENT.$touched) && pmForm.CVE_ENT.$invalid }">
              <label class="col-sm-2 control-label">Estado</label>
              <div class="col-sm-10">
                <select name="CVE_ENT" required class="form-control" ng-model="mtown.pmData.CVE_ENT" ng-options="option.CVE_ENT as option.NOM_ENT for option in mtown.stateList | orderBy: 'NOM_ENT'" ng-change="mtown.updateMuniList(true)">
                  <option value="">Seleccione un estado</option>
                </select>
                <span ng-show="(pmForm.$submitted || pmForm.CVE_ENT.$touched) && pmForm.CVE_ENT.$invalid" class="help-block">El estado es requerido</span>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (pmForm.$submitted || pmForm.CVE_MUN.$touched) && pmForm.CVE_MUN.$invalid }">
              <label class="col-sm-2 control-label">Municipio</label>
              <div class="col-sm-10">
                <select name="CVE_MUN" required class="form-control" ng-model="mtown.pmData.CVE_MUN" ng-options="option.CVE_MUN as option.NOM_MUN for option in mtown.muniList | orderBy:'NOM_MUN'" ng-change="mtown.updateLocList(true)">
                  <option value="">Seleccione un municipio</option>
                </select>
                <span ng-show="(pmForm.$submitted || pmForm.CVE_MUN.$touched) && pmForm.CVE_MUN.$invalid" class="help-block">El municipio es requerido</span>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (pmForm.$submitted || pmForm.CVE_LOC.$touched) && pmForm.CVE_LOC.$invalid }">
              <label class="col-sm-2 control-label">Localidad</label>
              <div class="col-sm-10">
                <select name="CVE_LOC" required class="form-control" ng-model="mtown.pmData.CVE_LOC" ng-options="option.CVE_LOC as option.NOM_LOC for option in mtown.locList | orderBy:'NOM_LOC'">
                  <option value="">Seleccione una localidad</option>
                </select>
                <span ng-show="(pmForm.$submitted || pmForm.CVE_LOC.$touched) && pmForm.CVE_LOC.$invalid" class="help-block">La localidad es requerida</span>
              </div>
            </div>
            <!--div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="accepted" ng-model="mtown.pmData.accepted"> Aceptado
                  </label>
                </div>
              </div>
            </div-->
            <div class="form-group" ng-class="{ 'has-error' : (pmForm.$submitted || pmForm.inclusion_date.$touched) && pmForm.inclusion_date.$invalid }">
              <label class="col-sm-2 control-label">Año de inclusión</label>
              <div class="col-sm-10">
                <div class="input-group">
									<input type="text" name="inclusion_date" class="form-control" required datetimepicker
		                ng-model="mtown.pmData.inclusion_date"
						        datetimepicker-options="{useCurrent: false, format:'YYYY'}" />
                   <span class="input-group-addon"><i class="fa fa-calendar"></i></span>
								</div>
                <span ng-show="(pmForm.$submitted || pmForm.inclusion_date.$touched) && pmForm.inclusion_date.$error.required" class="help-block">La fecha de inclusión es requerida</span>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Segmento</label>
              <div class="col-sm-10">
                <select name="segment" class="form-control" ng-model="mtown.pmData.segment">
                  <option value="">Seleccione un segmento</option>
                  <option value="sol y playa">Sol y playa</option>
                  <option value="cultural">Cultural</option>
                  <option value="aventura">Aventura</option>
                  <option value="rural">Rural</option>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Atractivos turísticos</label>
              <div class="col-sm-10">
                <textarea name="atractives" class="form-control" rows="3" ng-model="mtown.pmData.atractives"></textarea>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Atractivo simbólico</label>
              <div class="col-sm-10">
                <input type="text" name="symbolicattractive" class="form-control" ng-model="mtown.pmData.symbolicattractive"/>
              </div>
            </div>
            <div class="form-group">
              <label class="col-sm-2 control-label">Festividades</label>
              <div class="col-sm-10">
                <textarea name="festivities" class="form-control" rows="3" ng-model="mtown.pmData.festivities"></textarea>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (pmForm.$submitted || pmForm.picture.$touched) && pmForm.picture.$invalid }">
              <label class="col-sm-2 control-label">Fotografía</label>
              <div class="col-sm-10">
                <div class="thumbnail" ng-show="mtown.pmData.picture">
                  <img class="img img-responsive" ng-src="{{mtown.pmData.picture}}" />
                </div>
                <input type="file" name="picture" maxsize="5120"
                  accept="image/jpeg,image/png,image/jpeg"
                  class="form-control" ng-model="mtown.pictureData"
                  ng-change="mtown.processPicture()"
                  onloadstart="mtown.disableSend"
                  onloadend="mtown.enableSend"
                  base-sixty-four-input do-not-parse-if-oversize>
                <span ng-show="pmForm.picture.$error.maxsize" class="help-block">El archivo no debe exceder de 5MB</span>
                <span ng-show="!mtown.validMime" class="help-block">El tipo de archivo no es permitido</span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer text-right">
          <button type="submit" ng-disabled="mtown.canSend === false || mtown.processing" class="btn btn-primary btn-minw"><span ng-show="mtown.processing" class="fa fa-cog fa-spin fa-lg fa-fw"></span>Guardar</button>
          <button ui-sref="admin.pmcatalog" class="btn btn-default btn-minw" type="button">Cancelar</button>
        </div>
      </div>
    </div>
  </form>
</div>
