<div>
  <div class="row title-ribbon">
    <h3 class="pull-left">Tableros</h3>
    <div class="pull-right">
      <a ui-sref="admin.editdashboard({mode:'new'})" class="btn btn-primary btn-minw">Agregar tablero</a>
    </div>
  </div>  <div class="row">
    <div class="panel panel-default box-panel">
      <div class="panel-body">
        <table class="table">
          <thead>
            <tr>
              <th>Name</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="dashboard in dashboards.dashboardList">
              <td>{{dashboard.name}}</td>
              <td class="text-right">
                <a class="btn btn-sm btn-primary" ui-sref="admin.previewdashboard({id: '{{dashboard._id}}'})"><span class="fa fa-eye"></span></a>
                <a class="btn btn-sm btn-primary" ui-sref="admin.editdashboard({id: '{{dashboard._id}}'})"><span class="fa fa-pencil"></span></a>
                <a class="btn btn-sm btn-primary" ng-click="deleteDashboard(dashboard._id)"><span class="fa fa-trash-o"></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
