<link id="grid-styles" href="css/_gridster.css" rel="stylesheet">
<div class="animated fadeIn">
  <h1 class="page-header">Gridster Responsive Layout Angular</h1>
  <div class="text-left">
    <a class="pull-right btn btn-primary" ng-click="addWidget()"><i class="glyphicon glyphicon-plus"></i> Add Widget</a>
    <a class="pull-right btn btn-warning" ng-click="clear()"><i class="glyphicon glyphicon-trash"></i> Clear</a>
    <h1 style="display: inline-block; width: 200px;">Dashboard</h1>
    <select class="form-control ng-pristine ng-valid ng-touched" style="width: 150px; margin-bottom: 20px; display:inline-block;" ng-model="selectedDashboardId">
      <option value="1" selected="selected" label="Home">Dashboard 1</option>
      <option value="2" label="Other">Dashboard 2</option>
    </select>
  </div>
  <div data-gridster>
    <ul>
      <li gridster-item="item" ng-repeat="item in dashboard.widgets">
        <button id="{{item.id}}" class="glyphicon glyphicon-trash" removable></button>
        <div class="gridster-angular-content-item" ng-bind-html="item.content">
        </div>
      </li>
    </ul>
  </div>
</div>