<div class="animate fadeIn">
  <div class="row text-right">
    <a ui-sref="admin.addrole({action: 'add'})" class="btn btn-default">Agregar rol</a>
  </div>
  <hr>
  <div class="row">
    <table class="table" id="rolesTable">
      <thead>
        <tr>
          <th>Nombre</th>
        </tr>
      </thead>
      <tbody>
        <tr ng-repeat="role in roles">
          <td>{{role.title}}</td>
          <td>
            <a ui-sref="admin.editrole({id: '{{role._id}}'})"><span class="fa fa-pencil"></span></a>
            <a ng-click="deleteRole(role._id)"><span class="fa fa-trash-o"></span></a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
