<div class="animate fadeIn">
  <h2>Agregar usuario</h2>
  <div class="row">
    <div class="col-sm-8 col-sm-offset-2">
      <form name="userAddForm" novalidate class="form-horizontal" ng-submit="submitForm(userAddForm)">
        <div class="form-group" ng-class="{ 'has-error' : userAddForm.fullName.$touched && userAddForm.fullName.$invalid }">
          <label class="col-sm-2 control-label">Nombre</label>
          <div class="col-sm-10">
            <input type="text" name="fullName" required class="form-control" ng-model="userData.fullName"/>
            <span ng-show="userAddForm.fullName.$touched && userAddForm.fullName.$invalid" class="help-block">El nombre es requerido</span>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userAddForm.password.$touched && userAddForm.password.$invalid }">
          <label class="col-sm-2 control-label">Password</label>
          <div class="col-sm-10">
            <input type="password" name="password" required class="form-control" ng-model="userData.password"/>
            <span ng-show="userAddForm.password.$touched && userAddForm.password.$invalid" class="help-block">El password es requerido</span>
          </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : userAddForm.password2.$touched && userAddForm.password2.$invalid }">
          <label class="col-sm-2 control-label">Repetir password</label>
          <div class="col-sm-10">
            <input type="password" name="password2" required class="form-control" ng-model="userData.password2"/>
            <span ng-show="userAddForm.password2.$touched && userAddForm.password2.$invalid" class="help-block">El password no coincide</span>
          </div>
        </div>
        <button type="submit" class="btn btn-default">Guardar</button>
        <button ui-sref="admin.users" class="btn btn-default">Cancelar</button>
      </form>
    </div>
  </div>
</div>
