<div class="animate fadeIn">
  <div class="row title-ribbon">
    <h3 class="pull-left">Roles</h3>
    <div class="pull-right">
      <a ui-sref="admin.addrole" class="btn btn-primary btn-minw">Agregar rol</a>
    </div>
  </div>
  <div class="row">
    <div class="form-group has-feedback pull-right">
      <input type="text" class="form-control" ng-model="roles.searchText">
      <span class="form-control-feedback" aria-hidden="true">
        <i class="fa fa-search"></i>
      </span>
    </div>
  </div>
  <div class="row">
    <div class="panel panel-default box-panel">
      <div class="panel-body">
        <table class="table" id="rolesTable">
          <thead>
            <tr>
              <th>Nombre</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="role in roles.roles | filter:roles.searchText | orderBy:'role.title'">
              <td>{{role.title}}</td>
              <td class="text-right">
                <a class="btn btn-sm btn-primary" ui-sref="admin.editrole({id: '{{role._id}}'})"><span class="fa fa-pencil"></span></a>
                <a class="btn btn-sm btn-primary" ng-click="roles.deleteRole(role._id)"><span class="fa fa-trash-o"></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
