<div class="animate fadeIn">
  <h3>Roles</h3>
  <div class="row text-right">
    <a ui-sref="admin.addrole" class="btn btn-primary btn-minw">Agregar rol</a>
  </div>
  <div class="row">
    <div class="panel panel-default box-panel">
      <div class="panel-body">
        <table class="table" id="rolesTable">
          <thead>
            <tr>
              <th>Nombre</th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="role in roles.roles">
              <td>{{role.title}}</td>
              <td class="text-right">
                <a class="btn btn-sm btn-primary" ui-sref="admin.editrole({id: '{{role._id}}'})"><span class="fa fa-pencil"></span></a>
                <a class="btn btn-sm btn-primary" ng-click="roles.deleteRole(role._id)"><span class="fa fa-trash-o"></span></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
