<div class="animate fadeIn">
  <div class="row title-ribbon">
    <h3>{{geo.formTitle}}</h3>
  </div>
  <div class="row">
    <div class="panel panel-default box-panel">
      <form name="editForm" novalidate class="form-horizontal" ng-submit="geo.submitForm(editForm)">
        <div class="panel-body">
          <div class="col-sm-8 col-sm-offset-2">
            <div class="form-group" ng-class="{ 'has-error' : (editForm.$submitted || editForm.name.$touched) && editForm.name.$invalid }">
              <label class="col-sm-2 control-label">Nombre</label>
              <div class="col-sm-10">
                <input type="text" name="name" required class="form-control" ng-model="geo.layerData.name"/>
                <span ng-show="(editForm.$submitted || editForm.name.$touched) && editForm.name.$invalid" class="help-block">El nombre es requerido</span>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (editForm.$submitted || editForm.description.$touched) && editForm.description.$invalid }">
              <label class="col-sm-2 control-label">Descripción</label>
              <div class="col-sm-10">
                <textarea name="description" required class="form-control" rows="3" ng-model="geo.layerData.description"></textarea>
                <span ng-show="(editForm.$submitted || editForm.description.$touched) && editForm.description.$invalid" class="help-block">La descripción es requerida</span>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (editForm.$submitted || editForm.type.$touched) && editForm.type.$invalid }">
              <label class="col-sm-2 control-label">Tipo</label>
              <div class="col-sm-10">
                <select name="type" required class="form-control" ng-model="geo.layerData.type">
                  <option value="">Seleccione un tipo</option>
                  <option value="geojson">GeoJSON</option>
                  <option value="kml">KML</option>
                  <option value="shp">ShapeFile</option>
                </select>
                <span ng-show="(editForm.$submitted || editForm.type.$touched) && editForm.type.$invalid" class="help-block">El tipo es requerido</span>
              </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (editForm.$submitted || editForm.fileUrl.$touched) && editForm.fileUrl.$invalid }">
              <label class="col-sm-2 control-label">Ubicación</label>
              <div class="col-sm-10">
                <input type="url" name="fileLocation" required class="form-control" ng-model="geo.layerData.fileLocation"/>
                <span ng-show="(editForm.$submitted || editForm.fileLocation.$touched) && editForm.fileLocation.$error.url" class="help-block">Escriba una URL válida</span>
                <span ng-show="(editForm.$submitted || editForm.fileLocation.$touched) && editForm.fileLocation.$error.required" class="help-block">La ubicación es requerida</span>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="zipped" ng-model="geo.layerData.zipped"> Recurso comprimido
                  </label>
                </div>
              </div>
            </div>
            <div class="form-group" ng-show="geo.layerData.zipped" ng-class="{ 'has-error' : (editForm.$submitted || editForm.zipPath.$touched) && editForm.zipPath.$invalid }">
              <label class="col-sm-2 control-label">Ubicación dentro del ZIP</label>
              <div class="col-sm-10">
                <input type="text" name="zipPath" ng-required="geo.layerData.zipped" class="form-control" ng-model="geo.layerData.zipPath"/>
                <span ng-show="(editForm.$submitted || editForm.zipPath.$touched) && editForm.zipPath.$error.required" class="help-block">La ruta es requerida</span>
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer text-right">
          <button type="submit" class="btn btn-primary btn-minw">Guardar</button>
          <button ui-sref="admin.geolayers" class="btn btn-default btn-minw">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>
